name: 编译全版本 magiskboot
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 安装编译环境
        run: sudo apt update && sudo apt install -y git build-essential mingw-w64 libz-mingw-w64-dev

      - name: 编译官方 Magisk magiskboot
        run: |
          mkdir -p output && cd output
          git clone --depth 1 https://github.com/topjohnwu/Magisk src
          cd src/native/src/magiskboot
          x86_64-w64-mingw32-g++ -O2 -std=c++17 *.c *.cpp -o magiskboot_stable.exe -lz -static -lstdc++
          cp magiskboot_stable.exe ../../../../

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: magiskboot_all
          path: ./*.exe
