name: 从 Magisk APK 提取 magiskboot
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 安装依赖
        run: sudo apt update && sudo apt install -y wget unzip

      - name: 下载并提取 magiskboot
        run: |
          mkdir -p output && cd output
          # 下载官方 Magisk APK
          wget -O Magisk.apk https://github.com/topjohnwu/Magisk/releases/download/v27.0/Magisk-v27.0.apk
          # 解压 APK
          unzip -q Magisk.apk
          # 提取 x86_64 架构的 magiskboot 并重命名
          cp lib/x86_64/libmagiskboot.so magiskboot_stable.exe
          chmod +x magiskboot_stable.exe

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: magiskboot_all
          path: ./*.exe
